body[data-theme="dark"] {  

   @import '../src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #8C8C8C;
   }

   .title-styles {
      color: #D4F1F4;
      font-weight: bold;
   }

   .header-icon {
      color: #f3bf3d;
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #8C8C8C;
   }

   .language {
      background-color: #0A2647;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: #0A2647;
      color: white;
   }

   header {
      background-color: #0A2647;
      h1 {
         color: #D4F1F4;
      }
   }

   #about {
      background-color: #205295;
      h1 span {
         color: white;
      }
      .polaroid span {
         background:  #D4F1F4;
      }
      .card {
         background: #D4F1F4;
         color: black;
      }
   }

   #portfolio {
      background: #0A2647;
      .section-title {
         color: white !important;
      }
      .foto div {
         background: #D4F1F4;
      }
      .project-title-settings {
         color: black;
      }
   }

   #skills{
      background: #205295;
      h1 span {
         color: white !important;
      }   
   }
   #resume {
      // filter: brightness(80%);
      background: #0A2647;
      .section-title {
         color: white !important;
      }

      .experience-badge {
         background: #D4F1F4 !important;
         color: black;
      }

      .main-badge {
         background: #f3bf3d !important;
         color: black;
      }

      .vertical-timeline-element-date {
         color: white;
      }

      .vertical-timeline-element-icon {
         background: #D4F1F4 !important;
         color: black;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: #D4F1F4;
      color: black;
   }
   .link-href{
      color: black;
   }
   .close-icon {
      color: black;
   }
}